{% extends "base-without-menu.html" %}

{% load static i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign In" %}{% endblock title %}

{% block body %}
{% get_providers as socialaccount_providers %}
<section class="login-block">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<form class="md-float-material form-material" id="form_login" method="POST">

					<div class="text-center">
						{% if socialaccount_providers %}
						<p>{% blocktrans with site.name as site_name %}Please sign in with one
						   of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
						   for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

						<div class="socialaccount_ballot">
							<ul class="socialaccount_providers">
								{% include "socialaccount/snippets/provider_list.html" with process="login" %}
							</ul>
							<div class="login-or">{% trans 'or' %}</div>
						</div>

						{% include "socialaccount/snippets/login_extra.html" %}

						{% else %}
						<p>{% blocktrans %}If you have not created an account yet, then please
							<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
						{% endif %}
					</div>

					<div class="auth-box card">
						<div class="card-block">
							<div class="row m-b-20">
								<div class="col-md-12">
									<h3 class="text-center txt-primary">{% trans "Sign In" %}</h3>
								</div>
							</div>
							<p class="text-muted text-center p-b-5">Sign in with your regular account</p>
							<div class="form-group form-primary">
								<input class="form-control" id="username" required="" type="text">
								<span class="form-bar"></span>
								<label class="float-label">Username</label>
							</div>
							<div class="form-group form-primary">
								<input class="form-control" id="password" required="" type="password">
								<span class="form-bar"></span>
								<label class="float-label">Password</label>
							</div>
							<div class="row m-t-25 text-left">
								<div class="col-12">
									<div class="checkbox-fade fade-in-primary">
										<label>
											<input id="remember" type="checkbox" value="">
											<span class="cr"><i
													class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
											<span class="text-inverse">Remember me</span>
										</label>
									</div>
									<div class="forgot-phone text-right float-right">
										<a class="text-right f-w-600" href="{% url 'account_reset_password' %}">
											{% trans "Forgot Password?" %}
										</a>
									</div>
								</div>
							</div>
							<div class="row m-t-30">
								<div class="col-md-12">
									{% if redirect_field_value %}
									<input name="{{ redirect_field_name }}" type="hidden"
									       value="{{ redirect_field_value }}"/>
									{% endif %}
									<button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
									        type="submit">
										{% trans "LOGIN" %}
									</button>
								</div>
							</div>
							<p class="text-inverse text-left">Don't have an account?<a href="{{ signup_url }}">
							<b>Register here </b></a>for free!</p>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

</section>
{% endblock body %}

{% block javascripts %}
<script>
	$(document).ready(function() {
		$('#form_login').on('submit', function(event) {
			event.preventDefault();
			$.ajax({
				url: "{% url 'account_login' %}",
				data: {
					login: $('#username').val(),
					password: $('#password').val(),
					remember: $('#remember').val(),
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
				},
				dataType: "json",
				type: "POST",
				beforeSend: function (xhr, settings) {
					xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
				},
				success: function (data) {
					window.location.href = data.location;
				},
				error: function (XMLHttpRequest, textStatus, error) {
					console.log("Communication Error: " + XMLHttpRequest.responseText);
					alert("Communication Error: " + XMLHttpRequest.responseText);
				}
			});
		});
	});
</script>
{% endblock javascripts %}
