{% extends "base-with-menu.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block body %}
<div class="pcoded-content">
	<div class="page-header card">
		<div class="row align-items-end">
			<div class="col-lg-8">
				<div class="page-header-title">
					<i class="feather icon-user bg-c-blue"></i>
					<div class="d-inline">
						<h5>User Account: Change Password</h5>
						<span>Change Password</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="page-header-breadcrumb">
					<ul class=" breadcrumb breadcrumb-title">
						<li class="breadcrumb-item">
							<a href="index.html"><i class="feather icon-home"></i></a>
						</li>
						<li class="breadcrumb-item"><a href="#!">User</a>
						</li>
						<li class="breadcrumb-item">
							<a href="#!">Account: Change Password</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="pcoded-inner-content">
		<div class="main-body">
			<div class="page-wrapper">

				<div class="page-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
									<h5>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h5>
								</div>
								<div class="card-block">
									{% if token_fail %}
                                        {% url 'account_reset_password' as passwd_reset_url %}
                                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                                    {% else %}
                                        {% if form %}
                                            <form method="POST" action=".">
                                                {% csrf_token %}
                                                {{ form|crispy }}
                                                <input class="btn btn-primary" type="submit" name="action" value="{% trans 'change password' %}"/>
                                            </form>
                                        {% else %}
                                            <p>{% trans 'Your password is now changed.' %}</p>
                                        {% endif %}
                                    {% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock body %}
