{% extends "base-with-menu.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Set Password" %}{% endblock title %}

{% block body %}
<div class="pcoded-content">
	<div class="page-header card">
		<div class="row align-items-end">
			<div class="col-lg-8">
				<div class="page-header-title">
					<i class="feather icon-user bg-c-blue"></i>
					<div class="d-inline">
						<h5>User Account: Set Password</h5>
						<span>Set Password</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="page-header-breadcrumb">
					<ul class=" breadcrumb breadcrumb-title">
						<li class="breadcrumb-item">
							<a href="index.html"><i class="feather icon-home"></i></a>
						</li>
						<li class="breadcrumb-item"><a href="#!">User</a>
						</li>
						<li class="breadcrumb-item">
							<a href="#!">Account: Set Password</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="pcoded-inner-content">
		<div class="main-body">
			<div class="page-wrapper">

				<div class="page-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
									<h5>{% trans "Set Password" %}</h5>
								</div>
								<div class="card-block">
									<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <input class="btn btn-primary" type="submit" name="action" value="{% trans 'Set Password' %}"/>
                                    </form>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock body %}
