{% extends "base-with-menu.html" %}
{% load static i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block body %}
<div class="pcoded-content">
	<div class="page-header card">
		<div class="row align-items-end">
			<div class="col-lg-8">
				<div class="page-header-title">
					<i class="feather icon-user bg-c-blue"></i>
					<div class="d-inline">
						<h5>User Account: Password Reset</h5>
						<span>Password Reset</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="page-header-breadcrumb">
					<ul class=" breadcrumb breadcrumb-title">
						<li class="breadcrumb-item">
							<a href="index.html"><i class="feather icon-home"></i></a>
						</li>



						<li class="breadcrumb-item"><a href="#!">User</a>
						</li>
						<li class="breadcrumb-item">
							<a href="#!">Account: Password Reset</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="pcoded-inner-content">
		<div class="main-body">
			<div class="page-wrapper">

				<div class="page-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
									<h5>{% trans "Password Reset" %}</h5>
								</div>
								<div class="card-block">
									{% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                    {% endif %}

                                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <input class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}" />
                                    </form>

                                    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock body %}
