{% extends "base-without-menu.html" %}
{% load static i18n %}

{% block title %}{% trans "Sign Up Closed" %}{% endblock title %}

{% block body %}
<div class="pcoded-content">
	<div class="pcoded-inner-content">
		<div class="main-body">
			<div class="page-wrapper">

				<div class="page-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
									<h5>{% trans "Sign Up Closed" %}</h5>
								</div>
								<div class="card-block">
									<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock body %}
