{% extends "base-without-menu.html" %}
{% load static i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock title %}

{% block inner %}
<div class="pcoded-content">
	<div class="pcoded-inner-content">
		<div class="main-body">
			<div class="page-wrapper">

				<div class="page-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
									<h5>{% trans "Verify Your E-mail Address" %}</h5>
								</div>
								<div class="card-block">
									<p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}
