{% extends "base-with-menu.html" %}

{% block title %}Airport{% endblock title %}

{% block body %}
<div class="pcoded-content">
	<div class="page-header card">
		<div class="row align-items-end">
			<div class="col-lg-8">
				<div class="page-header-title">
					<i class="feather icon-user bg-c-blue"></i>
					<div class="d-inline">
						<h5>Airport</h5>
						<span>CRUD for Airport</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="page-header-breadcrumb">
					<ul class=" breadcrumb breadcrumb-title">
						<li class="breadcrumb-item">
							<a href="{% url 'home' %}"><i class="feather icon-home"></i></a>
						</li>
						<li class="breadcrumb-item">
							<a href="#!">Parent</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{% url 'parent:airport_crud' %}">Airport</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="pcoded-inner-content">
		<div class="main-body">
			<div class="page-wrapper">

				<div class="page-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
                                    Table Header
								</div>
								<div class="card-block">
									Table Data
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock body %}