{% extends "base-with-menu.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}
<div class="pcoded-content">
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="feather icon-user bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>Dashboard</h5>
                        <span>Dashboard for GTAS</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class=" breadcrumb breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="{% url 'home' %}"><i class="feather icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="card">
                                <div class="card-header">
                                    <h5>Kibana Iframe</h5>
                                </div>
                                <div class="card-block">
                                    <span>kibana iframe</span>
                                </div>
                            </div>

<!--                            if rulesList length > 0 show table-->
<!--                            if airportStats length > 0 show table-->

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock body %}

{% block javascripts %}
{% endblock javascripts %}