{% extends "base-with-menu.html" %}
{% load static %}

{% block title %}Note Types{% endblock title %}

{% block stylesheets %}
    <style>
        .right {
            float: right;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/pages/data-table/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}">

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'lib/toastr/toastr.min.css' %}">
{% endblock stylesheets %}

{% block body %}
<div class="pcoded-content">
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="feather icon-user bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>Note Types</h5>
                        <span>CRUD for Note Types</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class=" breadcrumb breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="{% url 'home' %}"><i class="feather icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Parent</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'parent:note_type_crud' %}">Note Types</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="card">
                                <div class="card-header">
                                    <h5>Note Types</h5>
                                    <span>CRUD for Note Types</span>
                                    <button data-target="#note_type_modal" id="add_note_type" class="btn btn-sm waves-effect waves-dark btn-success btn-outline-success right"><i class="icofont icofont-plus-square"></i>CREATE</button>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="note_type_table" class="table table-striped table-bordered nowrap" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>Edit</th>
                                                <th>Delete</th>
												<th>nt_type</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>Edit</th>
                                                <th>Delete</th>
												<th>nt_type</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="note_type_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="note_type_modal_title">Add Note Type</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="note_type_crud_form" class="form-horizontal" autocomplete="off">
                <div class="modal-body">
                    <input type="hidden" name="id" id="id" value="__id__"/>
                    <input type="hidden" name="operation" id="operation" value="add"/>
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">
                                {{ field.label_tag }}
                            </label>
                            <div class="col-md-9">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-primary waves-effect waves-light" id="note_type_submit">Add</button>
                    <button type="reset" class="btn btn-sm btn-default waves-effect" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}

{% block javascripts %}

    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/pages/data-table/js/jszip.min.js' %}"></script>
    <script src="{% static 'assets/pages/data-table/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/pages/data-table/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'lib/toastr/toastr.min.js' %}"></script>

    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // NOTE TYPE - READ
            var table = $('#note_type_table').DataTable({
                dom: 'lBfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        title: String('#note_type_table').replace('#', ''),
                        text: '<i class="icofont icofont-ui-copy"></i>COPY',
                        className: "btn btn-sm waves-effect waves-light btn-inverse"
                    },
                    {
                        extend: 'excelHtml5',
                        title: String('#note_type_table').replace('#', ''),
                        text: '<i class="icofont icofont-file-excel"></i>EXCEL',
                        className: "btn btn-sm waves-effect waves-light btn-inverse"
                    },
                    {
                        extend: 'csvHtml5',
                        title: String('#note_type_table').replace('#', ''),
                        text: '<i class="icofont icofont-file-spreadsheet"></i>CSV',
                        className: "btn btn-sm waves-effect waves-light btn-inverse"
                    },
                    {
                        extend: 'pdfHtml5',
                        title: String('#note_type_table').replace('#', ''),
                        text: '<i class="icofont icofont-file-pdf"></i>PDF',
                        className: "btn btn-sm waves-effect waves-light btn-inverse"
                    },
                    {
                        action: function ( e, dt, button, config ) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob( [ JSON.stringify( data ) ] ),
                                String('#note_type_table').replace('#', '')+'.json'
                            );
                        },
                        text: '<i class="icofont icofont-file-text"></i>JSON',
                        className: "btn btn-sm waves-effect waves-light btn-inverse"
                    }
                ],
                responsive: false,
                rowId: "id",
                ajax: {"url": "{% url 'api:notetype-list' %}", "dataSrc": ""},
                "columns": [
                    {"defaultContent": '<button type="button" id="note_type_edit" class="btn btn-sm waves-effect waves-dark btn-info btn-outline-info update"><i class="icofont icofont-ui-edit"></i>EDIT</button>'},
                    {"defaultContent": '<button type="button" id="note_type_delete" class="btn btn-sm waves-effect waves-dark btn-danger btn-outline-danger delete"><i class="icofont icofont-ui-delete"></i>DELETE</button>'},
					{"data": "nt_type"},
                ],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                }
            });

            $('#add_note_type').click(function () {
                $('#note_type_crud_form')[0].reset();
                $('#note_type_modal_title').text("Add Note Type");
                $('#operation').val("add");
                $('#note_type_submit').html("Add");
                $('#note_type_modal').modal('show');
            });

            // NOTE TYPE - CRUD FORM
            $("#note_type_crud_form").on("submit", function (event) {
                event.preventDefault();

                var table = $('#note_type_table').DataTable();
                var operation = document.getElementById("operation").value;
                var id = parseInt(document.getElementById("id").value);

                var row = {
					"nt_type": document.getElementById("nt_type").value,
                };

                // NOTE TYPE - CREATE
                if (operation == 'add') {
                    $.ajax({
                        url: "{% url 'api:notetype-list' %}",
                        data: row,
                        dataType: "json",
                        type: "POST",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (response, textStatus, xhr) {
                            toastr.success("Note Type Added", "CREATE");
                            table.ajax.reload();
                        },
                        error: function (XMLHttpRequest, textStatus, error) {
                            toastr.error("Note Type Add error: " + textStatus, "ERROR");
                        }
                    });
                }
                // NOTE TYPE - UPDATE
                else if (operation == 'edit') {
                    row["id"] = id;

                    $.ajax({
                        url: "{% url 'api:notetype-detail' 'id' %}".replace('id', id),
                        data: row,
                        dataType: "json",
                        type: "PUT",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (response, textStatus, xhr) {
                            toastr.info("Note Type Updated", "UPDATE");
                            table.ajax.reload();
                        },
                        error: function (XMLHttpRequest, textStatus, error) {
                            toastr.error("Note Type Update error: " + textStatus, "ERROR");
                        }
                    });
                }

                $('#note_type_crud_form')[0].reset();
                $('#note_type_modal').modal('hide');
            });

            // NOTE TYPE - UPDATE FORM
            $(document).on('click', '.update', function (event) {
                event.preventDefault();

                var table = $('#note_type_table').DataTable();
                var id = parseInt($(this).closest('td').parent()[0].id);
                var note_type = table.row($(this).parents('tr')).data();

                $('#note_type_crud_form')[0].reset();
                $('#note_type_modal_title').text("Edit Note Type : " + note_type.nt_type);
                $('#id').val(id);
                $('#operation').val("edit");
                $('#note_type_submit').html("Update");

                // set the form value here
				$('#nt_type').val(note_type.nt_type);

                $('#note_type_modal').modal('show');
            });

            // NOTE TYPE - DELETE
            $(document).on('click', '.delete', function (event) {
                event.preventDefault();

                var table = $('#note_type_table').DataTable();
                var id = parseInt($(this).closest('td').parent()[0].id);

                toastr.options.timeOut = "0";

                toastr.warning(`Do you want to delete this Note Type ? <br /><br />
                    <p>
                        <button id="delete_toastr" type="button" class="btn btn-sm btn-danger waves-effect">OK</button>
                        <button type="button" class="btn btn-sm btn-default waves-effect">CANCEL</button>
                    </p>
                    `, "DELETE",
                    {
                        closeButton: false,
                        allowHtml: true,
                        onShown: function (toast) {
                            $("#delete_toastr").click(function(){
                                $.ajax({
                                    url: "{% url 'api:notetype-detail' 'id' %}".replace('id', id),
                                    data: id,
                                    dataType: "json",
                                    type: "DELETE",
                                    beforeSend: function (xhr, settings) {
                                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                                    },
                                    success: function (response, textStatus, xhr) {
                                        table.ajax.reload();
                                        toastr.info("Note Type Deleted", "DELETE");
                                    },
                                    error: function (XMLHttpRequest, textStatus, error) {
                                        toastr.error("Note Type Delete error: " + textStatus, "ERROR");
                                    }
                                });
                            });
                        }
                    }
                );

                toastr.options.timeOut = "5000";
            });
        });
    </script>

{% endblock javascripts %}