<nav class="pcoded-navbar">
	<div class="pcoded-inner-navbar">
		<ul class="pcoded-item">
			<li class="pcoded-hasmenu">
				<a class="waves-effect waves-dark" href="javascript:void(0)">
					<span class="pcoded-micon"><i class="feather icon-grid"></i></span>
					<span class="pcoded-mtext">Tools</span>
				</a>
				<ul class="pcoded-submenu">
					<li class="">
						<a class="waves-effect waves-dark" href="">
							<span class="pcoded-mtext">Queries</span>
						</a>
					</li>
					<li class="">
						<a class="waves-effect waves-dark" href="">
							<span class="pcoded-mtext" data-i18n="nav.navigate.main">Rules</span>
						</a>
					</li>
					<li class="">
						<a class="waves-effect waves-dark" href="">
							<span class="pcoded-mtext" data-i18n="nav.navigate.main">Watch List</span>
						</a>
					</li>
					<li class="">
						<a class="waves-effect waves-dark" href="">
							<span class="pcoded-mtext" data-i18n="nav.navigate.main">Admin</span>
						</a>
					</li>
					<li class="">
						<a class="waves-effect waves-dark" href="">
							<span class="pcoded-mtext" data-i18n="nav.navigate.main">Neo4J Browser</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="">
				<a class="waves-effect waves-dark" href="">
					<span class="pcoded-micon"><i class="feather icon-navigation"></i></span>
					<span class="pcoded-mtext" data-i18n="nav.navigate.main">Flights</span>
				</a>
			</li>
			<li class="">
				<a class="waves-effect waves-dark" href="">
					<span class="pcoded-micon"><i class="feather icon-folder"></i></span>
					<span class="pcoded-mtext" data-i18n="nav.navigate.main">Priority Vetting List</span>
				</a>
			</li>
			<li class="pcoded-hasmenu">
				<a class="waves-effect waves-dark" href="javascript:void(0)">
					<span class="pcoded-micon"><i class="feather icon-help-circle"></i></span>
					<span class="pcoded-mtext">Help</span>
				</a>
				<ul class="pcoded-submenu">
					<li class="">
						<a class="waves-effect waves-dark" href="">
							<span class="pcoded-mtext" data-i18n="nav.navigate.main">About</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>