<nav class="pcoded-navbar">
	<div class="pcoded-inner-navbar">
		<ul class="pcoded-item">
			<li class="pcoded-hasmenu">
				<a class="waves-effect waves-dark" href="javascript:void(0)">
					<span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
					<span class="pcoded-mtext">Tools</span>
				</a>
				<ul class="pcoded-submenu">
					<li class="">
						<a class="waves-effect waves-dark" href="navbar-light.html">
							<span class="pcoded-mtext" data-i18n="nav.navigate.main">Option 1</span>
						</a>
					</li>
					<li class="">
						<a class="waves-effect waves-dark" href="navbar-light.html">
							<span class="pcoded-mtext" data-i18n="nav.navigate.main">Option 2</span>
						</a>
					</li>
					<li class="">
						<a class="waves-effect waves-dark" href="navbar-light.html">
							<span class="pcoded-mtext" data-i18n="nav.navigate.main">Option 3</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>